<!doctype html>
<html>
    <head>    
        
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Merriweather:wght@400;700&display=swap" rel="stylesheet"> 
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-touch-icon-76x76">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152">
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/images/apple-touch-icon-180x180">
        {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        {{ if eq .Params.layout "post" }} 
        {{ if .Params.canonical_url }}
        <link rel="canonical" href="{{ .Params.canonical_url }}"/>
        {{ end }}
        {{ end }}
        
    </head>
    <body>
        
        <div id="page" class="site layout-{{ .Site.Params.layout_style }} palette-{{ .Site.Params.palette }}">
        
            {{ partial "header.html" . }}
        
            <div id="content" class="site-content">
              <main id="main" class="site-main inner">
        
                {{ block "content" . }}{{ end }}
        
              </main><!-- .site-main -->
            </div><!-- .site-content -->
        
            {{ if .Site.Data.subscribe.enabled }}
              {{ partial "subscribe.html" . }}
            {{ end }}
        
            {{ partial "footer.html" . }}
        
          </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
    </body> 
</html>
